apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: python-dsa-hugecat-tls-cert
  namespace: aks-istio-ingress
spec:
  secretName: python-dsa-hugecat-tls-cert
  dnsNames:
    - dsa.hugecat.net
    - hugecat.net
  issuerRef:
    name: letsencrypt-prod
    kind: ClusterIssuer
  privateKey:
    rotationPolicy: Always
    algorithm: RSA
    size: 2048
  usages:
    - digital signature
    - key encipherment
